# Sim
sim_*/
*.log
*.jou
*.pb
xsim.dir/
*.wdb
.vec_*
waveforms/

# test 
*.hex

# Python
__pycache__/
*.pyc
venv/

# Other
dump/
.vscode/
data/
tb/inference/inference_vectors

# Vivado
.Xil
fpga/project_1/


# Physical Design
design/systolic_array/runs
openlane2/